.navName {
    font-size: 22px;
}

p {
    margin-bottom: 0;
}

#questionText {
    padding: 0 30px;
    margin: 0 0 16px;
    line-height: 2.5;
}


.card-footer {
    font-size: 28px;

    margin-bottom: 0;
    padding: 0
}

#penalty {
    color: rgb(168, 22, 22);
}